{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["transform-assets", {
                "extensions": ["jpg", "png", "svg"],
                "name": "/images/[sha512:hash:base64:7].[ext]",
              }]
  ]
}
